@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P';
    background-image: url(./images/pizzabg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: inset 0 0 0 100vh #0000004d; */
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: white;
    height: 800px;
    margin: 0;
}

@media (max-width: 1500px) {
    .main {
        height: 700px;
    }
}

@media (max-width: 1000px) {
    .main {
        height: 700px;
        flex-wrap: wrap;
    }
}

.game-intro {
    /* margin-top: 100px; */
    color: white;
    font-family: 'Press Start 2P';
}

.main h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}

/* .vespa-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} */

.game-intro p {
    /* margin-top: -20px; */
    margin: 30px 50px;
    font-size: 1.2rem;
    font-weight: 600;
    width: max-content;
}

.game-intro div {
    /* margin-top: -20px; */
    margin: 30px 50px;
}

p {
    font-size: 1.2rem;
    font-weight: 600;
}

body button {
    font-size: 1.5rem;
    background-color: #048700;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
    font-family: 'Press Start 2P';
}

body button:hover {
    cursor: pointer;
    background-color: #056d01;
    border: 2px solid #056d01;
}

#game-board {
    margin: 50px;
}

.first-vespa {
    /* padding: 60px 0 0 10px; */
    line-height: 100px;
    width: 90px;
    height: 90px;
    transform: rotate(30deg);
    animation: shake;
    animation-duration: 0.3s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
}

.second-vespa {
    /* padding: 60px 0 0 10px; */
    line-height: 100px;
    width: 90px;
    height: 90px;
    transform: rotate(30deg);
}

.last-vespa {
    /* padding: 60px 0 0 10px; */
    line-height: 100px;
    width: 90px;
    height: 90px;
    transform: rotate(30deg);
    animation: bounce 1s infinite;
}

#boom {
    width: 80px;
    height: 80px;
    animation: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}

#cold {
    width: 80px;
    height: 80px;
    animation: bounce 0.5s 3 linear;
}

.icons {
    width: 80px;
    height: 80px;
    animation: rotate;
    animation-duration: 0.3s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
}

#win h1 {
    font-size: 2rem;
    margin-bottom: 40px;
}

#win2 h1 {
    font-size: 2.5rem;
    animation: blinker 1s 5 linear;
}


#win h2 {
    animation: blinker 1s 3 linear;
}

.left h1 {
    animation: blinker 0.8s linear infinite;
}

.house-level {
    animation: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
    width: 150px;
    height: 150px;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes impenna {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(320deg);
    }
}

@keyframes shake {
    from {
        width: 80px;
        height: 80px;
    }

    to {
        width: 82px;
        height: 82px;
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(-20);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-40px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(-5);
    }
}